node_modules
.next
dist
out
build
.env
.env.local
.env.*.local
*.log
.DS_Store
.idea
.vscode
coverage
.turbo

# C# / .NET
bin/
obj/
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
*.pdb
*.mdb
*.opendb
*.VC.db
appsettings.secrets.json
secrets.json
Logs/
